<div id='games'>
  <p>
    <%= form_tag(api_index_path, :method => "get", id: "search-form") do %>
       <%= text_field_tag :search, params[:search], placeholder: "Search IGDB Database" %>
       <div class='text-center'><%= submit_tag "Search", :name => nil, id: 'black'%> </div>
    <% end %>
  </p>

  <% if @games == [] %>
    <h4>There are no games containing the term <%= @search %>.</h4>
  <% else %>
    <% @games.each do |body|  %>
      <p class='large-12 columns small-12 columns medium-12 columns'>
        <div class='large-2 columns medium-2 columns small-2 columns'>
          <% if body['cover'] %>
              <%= image_tag (body['cover']['url']) %>
            <% else %>
              <p> </p>
          <% end %>
        </div>
        <div class='large-6 columns small-6 columns medium-6 columns'>
          <%= body["name"] %>
        </div>
      </p>
    <% end %>
  <% end %>
</div>
