<% if !@search %>
  <div id='homepage'>
<% elsif @games == [] %>
  <div id = 'api'>
<% else %>
  <div id ='api2'>
<% end %>

  <p>
   <%= form_tag(api_index_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search IGDB Database" %>
      <div class='text-center'><%= submit_tag "Search", :name => nil%> </div>
      <br />
   <% end %>
 </p>
</div>

  <% if @search %>
    <% if @games == [] %>
      <div id='index'>
        <h4 class='text-center'>There are no games containing the term <%= @search %>.</h4>
        <h3>Don't see the game you want?</h3>
        <%= button_to "Request a Game", api_index_path, method: :get %>
      </div>
    <% else %>

      <div id='games' class='small-12 columns'>
        <% @games.each do |body|  %>
          <div class='small-12 columns' id='game'>
            <div class='small-3 columns text-right'>
              <% if body['cover'] %>
                <div class='' id=''>
                <%= image_tag (body['cover']['url']) %>
                </div>
              <% else %>
                <p> </p>
              <% end %>
            </div>

            <div class='small-6 columns text-center' id='name'>
              <%= body["name"] %>
            </div>

            <div class='small-3 columns'>
              <%= form_for [@game] do |f| %>

                <%= f.hidden_field :name, value: body['name'] %>
                <%= f.hidden_field :summary, value: body['summary'] %>
                <%= f.hidden_field :cover_url, value: body['cover']['url'] %>
                <div id='small'><%= f.submit(value="Add Game") %></div>

              <% end %>
            </div>

          </div>
        <% end %>
      </div>

      <div class='text-center'>
        <h3>Don't see the game you want?</h3>
        <%= button_to "Request a Game", api_index_path, method: :get %>
        <br />
      </div>
    <% end %>
  <% end %>
