<% if @games.blank? %>
  <div id='index'>
    <h4>There are no games containing the term <%= params[:search] %>.</h4>
    <%= button_to "Add a Game from IGDB", api_index_path, method: :get %>
  </div>
<% else %>
  <div>
    <% @games.each do |game| %>
      <p>
        <div class='small-12 columns row'>
          <div class='small-2 columns' id='pic'>
            <img src="https://<%= game.cover_url %>"/>
          </div>
          <div class='small-10 columns'>
            <%= link_to game.name, game_path(game.id) %>: <%= game.summary %>
          </div>
        </div>
      </p>
    <% end %>
    <br />
    <div class='text-center'>
      <h3>Don't see the game you want?</h3>
      <%= button_to "Add a Game from IGDB", api_index_path, method: :get, id: 'igdb' %>
    </div>
  </div>
<% end %>
