

<div class='small-12 columns' id='gameshow'>
  <img src="https://<%= @game.cover_url %>" class='small-2 columns'></img>
  <h1 class='small-10 columns'><%= @game.name %></h1>
  <% if admin_signed_in? %>
        <%= button_to "Edit Game", edit_game_path, method: :get %>
      <% end %>
</div>

<div id = 'ha'>
  <p><%= @game.summary %></p>
</div>
<div id='form'>

  <% if user_signed_in? %>

  <% else %>
    <%= button_to 'Sign In to Post a Review', new_user_session_path %>
  <% end %>
  <div id="app" data-id="<%= @game.id %>"> </div>




  <br />
  <p>
    <%= link_to "Home", root_path %>
  </p>


</div>
