<div class='small-12 columns' id='gameshow'>
  <img src="https://<%= @game.cover_url %>" class='small-2 columns'></img>
  <h1 class='small-10 columns'><%= @game.name %></h1>
</div>
<div id = 'ha'>
  <p><%= @game.summary %></p>
</div>
<div id='form'>
  <% if user_signed_in? %>
    <p>
      <%= form_for [@game, @review] do |f| %>
        <%= f.label :rating, "Rating (Required):" %>
        <%= f.text_field :rating %>
        <%= f.label :comment, "Comment (Optional):" %>
        <%= f.text_field :comment %>
        <%= f.submit value='Post Review'%>
      <% end %>
    </p>
    <% else %>
    <%= button_to 'Sign In to Post a Review', new_user_session_path %>
  <% end %>

  <% if @reviews %>
  <h2>Reviews:</h2>
    <% @reviews.each do |review| %>
      <h4>
        <% if review.user %>
          <%= review.user.name %> gave this game <%= review.rating %> out of 5 stars
        <% end %>
        <br />
        <% if review.comment %>
          Comment: <%= review.comment %>
        <% end %>
      </h4>
    <% end %>
  <% end %>
</div>
