<img src="https://<%= @game.cover_url %>"></img><h1><%= @game.name %></h1>

<h2><%= @game.summary %></h2>

<h2>Reviews:</h2>
<% @reviews.each do |review| %>
  <p>
    <%= review.rating %>
    <%= review.comment %>
  </p>
<% end %>
<%= render 'reviews/form' %>
<p>
  <%= link_to "Home", root_path %>
</p>
