<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= render 'shared/navigation' %>

    <title><%= content_for?(:title) ? yield(:title) : "Galaxy Gamers Association" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id='core'>
      <div class='float-right' id='flash'>
        <% if notice %>
          <div class="alert alert-success"><%= notice %></div>
        <% end %>
        <% if alert %>
          <div class="alert alert-danger"><%= alert %></div>
        <% end %>
      </div>
    <%= yield %>
    </div>
  </body>
</html>
